/*---------------------------------------- Body ----------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.8em;
  font-weight: 630;
}

h2 {
    font-family: "Open Sans", sans-serif;
    /* color: #171717; */
    color: #1f4b5b;
    font-weight: 700;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

p {
    font-family: "Open Sans", sans-serif;
}

.title-border {
  display: block;
  width: 80px;
  height: 2px;
  background: #1f4b5b;
  margin: 20px auto;
}
/*---------------------------------------- Navigation ----------------------------------------*/
.bg-dark {
  background:transparent !important;
  transition:0.85s ease;
  
}

.bg-dark li a {
  color:#fff !important;
}
.bg-dark.scrolled {
  background:#fff !important;
}

.txt-scroll.ncol {
  color:#00171F !important;
}

.shadow-nav.shadow {
  box-shadow: 0 0 20px 0 grey;
}

.btn-test {
  color:red;
}

.navbar-brand>a {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  color: #007EA7;
  font-weight: 600;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* border: 2px solid #1f4b5b;
  padding:6px; */
}


/*---------------------------------------- Landing Page ----------------------------------------*/

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("img/landing-page.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color:white;
}

@media (max-width: 575.98px) { 
  .masthead {
    background-attachment: scroll !important;
}
 }

@media (max-width: 767.98px) { 
  .masthead {
    background-attachment: scroll !important;
}
 }

.masthead::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .70;
}


.landing-cut {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 10rem 100vw 0 0;
    border-color: transparent #ffffff #ffffff transparent;
    border-style: solid;
}

.title {
  font-size: 3.3em;
}

.sub-title-landing {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1em;
  font-weight: 200;
  color: #f4f4f4;
  /* color: #FCA311; */
}

.social-media-landing i {
  background: rgba(0, 0, 0, 0.3);
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  color:#fff;
}

.social-media-landing i:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*---------------------------------------- About Me ----------------------------------------*/
.sub-title-about {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.4em;
  font-weight: 200;
  color: #14213D;
}

.about-img {
    height: 40vh;
    background-image: url("img/about-me.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.btn-cv {
    color: white;
    background-color: #FCB33A;
    font-weight: 600;

}

.btn-cv:hover {
    color: white;
    background-color:#E69510;
}

/*---------------------------------------- Skills ----------------------------------------*/
.skills-banner {
    height: 38vh;
    min-height: 38px;
    background-image: url("img/skills.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

.skills-banner::before {
        content: '';
        position:absolute;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: .70;
}


/* .skills-banner-cut {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 100vw 6vw 0;
    border-color:   #ffffff #ffffff transparent transparent  ;
    border-style: solid;
} */



.skill-color {
    color: #E69510;
}

.skill-txt {
    color: white;
    font-weight: 500;
}

/*---------------------------------------- Recent Projects ----------------------------------------*/
                   
.portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: rgba(33, 37, 41, 0.2); */
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  

  .portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
  }
  
  .portfolio-item .caption .caption-content h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0;
    }
    .portfolio-item .caption {
      transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px);
    }
    .portfolio-item .caption .caption-content {
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 3rem;
    }
    .portfolio-item img {
      transition: -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }
    .portfolio-item:hover img {
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption {
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
  }



/*---------------------------------------- Get in Touch ----------------------------------------*/

.contact-area .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}


.contact-info {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
}

.contact-info::before, .contact-info::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  border-bottom: 3px solid #dddddd;
  border-left: 3px solid #dddddd;
  height: 75px;
  -webkit-transition: .4s;
  transition: .4s;
}

.contact-info::after {
  border-left: 0;
  border-bottom: 0;
  border-top: 3px solid #dddddd;
  border-right: 3px solid #dddddd;
  top: 0;
  right: 0;
  left: auto;
}

.contact-info i {
  background: #f4f4f4;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 35px;
  border-radius: 50%;
  margin-bottom: 25px;
  -webkit-transition: .4s;
  transition: .4s;
  color:#14213D;
}

.contact-info:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
}

.contact-info:hover::before, .contact-info:hover::after {
  width: 110px;
  height: 110px;
  border-color: #E69510;
}

.contact-info:hover i {
  background: #E69510;
  color: #ffffff;
}

.contact-info p {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: normal;
  color: #14213D;
}

/*---------------------------------------- Footer ----------------------------------------*/

.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #14213D;
  color: #fff;
}

.footer-txt {
  font-size: 0.8em;
}

.social-media i {
  background: #f4f4f4;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  color:#14213D;
}

.social-media i:hover {
  background: #14213D;
  color: #ffffff;
}

.copyright {
  background-color: #00171F;
}

/*---------------------------------------- Loader ----------------------------------------*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00171F;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  10% { transform: rotate(180deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  10% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}